{% extends 'base.html' %}

<!--Title of tab of Browser-->
{% block title %} Login {% endblock title %}

<!--Navbar Content-->
{% block navbar-content %}
    <i class="fa-solid fa-stethoscope"></i>&nbsp;&nbsp; Login
{% endblock navbar-content %}

<!--Navbar Button-->
{% block nav-btn %}
    <a href="{% url 'frontend' %}" class="btn btn-outline-primary text-light border-light btn-sm" id="btn-nav">Go Back</a>
{% endblock nav-btn %}

<!--Page Content-->
{% block content %}
<div class="container mt-5">
    <div class="card p-3 border-dark">
        <a href="" class="btn btn-outline-dark mt-3"><i class="fas fa-lock"></i>&nbsp;&nbsp;RESTRICTED ACCESS</a>
        <form action="" method="post" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 mt-5">
               <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
               <input type="text" class="form-control" name="username" placeholder="Username"> 
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password"> 
            </div>

            <input type="submit" class="btn btn-primary mt-4 mb-3" value="Enter">
           
        </form>
    </div>
</div>
{% endblock content %}