{% extends 'add.html' %}

<!--Title of tab of Browser-->
{% block title %} Edit Patient {% endblock title %}

<!--Navbar Content-->
{% block navbar-content %}
    <i class="fa-solid fa-user-edit"></i>&nbsp;&nbsp; {{ patient.name }}
{% endblock navbar-content %}

<!--Card Title-->
{% block card-title %}
    Registered at: <span class="text-primary">{{ patient.created_at | date:'m/d/Y (H:i)' }}</span>
{% endblock card-title %}

<!-- Extends Add Button -->
{% block Btn-content %} <i class="fas fa-hard-drive"></i>&nbsp;&nbsp; Save {% endblock Btn-content %}

<!-- Reset Button -->
{% block Btn-reset %}
<button title="reset" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp; Reset</button>
{% endblock Btn-reset %}

<!-- Form Action -->
{% block Action %} action="/edit_patient" {% endblock Action %}

<!--Extends from add.html-->
{% block Value-name %} value="{{ patient.name }}" {% endblock Value-name %}
{% block Value-phone %} value="{{ patient.phone }}" {% endblock Value-phone %}
{% block Value-email %} value="{{ patient.email }}" {% endblock Value-email %}
{% block Value-age %} value="{{ patient.age }}" {% endblock Value-age %}
{% block option %} <option value="" style="background-color: #d3d3d3; color: #007bff;">{{ patient.gender }}</option> {% endblock option %}
{% block Value-gender %} value="{{ patient.gender }}" {% endblock Value-gender %}
{% block Value-note %} {{ patient.note }} {% endblock Value-note %}
